###################################
# Node / Gulp
###################################

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

###################################
# Build / Cache
###################################

.cache/
.tmp/
.temp/
gulp-cache/

###################################
# Environment
###################################

.env
.env.local
.env.*.local

###################################
# Logs
###################################

logs
*.log

###################################
# OS files
###################################

.DS_Store
Thumbs.db

###################################
# IDE / Editor
###################################

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

###################################
# WordPress uploads
###################################

wp-content/uploads/

###################################
# Composer
###################################

vendor/

###################################
# System
###################################

*.zip
*.tar
*.tar.gz

###################################
# Database
###################################

backend/database/